html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
h2,
h3,
span,
a {
  font-family: "Roboto", sans-serif;
  color: black;
}

h1,
h4 {
  font-family: "Shrikhand", cursive;
  color: black;
}

h2 {
  font-size: 2rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
}

.restaurants {
  padding: 6rem 2rem;
  background-color: #f3f3f3;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 3rem;
}

.footer {
  padding: 2rem;
  background-color: #222222;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__heading {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.footer__text:not(:first-child) {
  margin-bottom: 0.4rem;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  color: #222222;
  background-color: #e4e4e4;
  height: 3.5rem;
  border-top: 2px #8b8b8b solid;
  padding-left: 5.5rem;
}

.location__input {
  height: 100%;
  font-size: 1.4rem;
  outline: none;
  background-color: #e4e4e4;
  border-style: solid;
  border: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 0.8rem;
}

.location__input:focus {
  outline: none;
}

.location__input:focus ~ .location__icon {
  color: #9356dc;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.location__icon {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 2rem;
  background-color: #f3f3f3;
}

.intro__heading {
  margin-bottom: 2rem;
}

.intro__text {
  text-align: center;
  font-weight: 300;
  margin-bottom: 2rem;
  color: #222222;
}

.intro__button {
  border-radius: 50px;
  padding: 1rem 2rem;
  color: white;
  background-image: linear-gradient(178deg, #ff79da 0%, #9356dc 90%);
  border: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}

.explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2rem;
}

.explanation__heading {
  margin: 2.5rem 0;
  color: #222222;
}

.explanation__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1.6rem 1rem;
  width: 100%;
  border-radius: 15px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.explanation__bar:not(:last-child) {
  margin-bottom: 2rem;
}

.explanation__bar-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.4rem;
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
  position: absolute;
  left: -1rem;
}

.explanation__bar-icon {
  margin-left: 1.5rem;
  font-size: 1.6rem;
  color: #8b8b8b;
}

.explanation__bar-text {
  margin-left: 1rem;
  font-size: 1.6rem;
  color: #222222;
  font-weight: 500;
}

.restaurant {
  background-color: white;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.restaurant__link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.restaurant__img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.restaurant__img-container {
  width: 100%;
  padding-top: 51.9%;
  overflow: hidden;
  position: relative;
}

.restaurant__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7rem;
  font-size: 1.4rem;
  padding: 1.2rem;
  margin-right: 2%;
}

.restaurant__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.restaurant__heading {
  font-size: 1.6rem;
}

.restaurant__icon {
  font-size: 2rem;
  z-index: 3;
}

.restaurant__icon:hover {
  cursor: pointer;
}

.restaurant__icon--favorite {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurant__new {
  position: absolute;
  z-index: 10;
  left: 75%;
  top: 5%;
  padding: 0.8rem 2rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: green;
  background-color: #99e2d0;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
/*# sourceMappingURL=main.css.map */