// COLORS

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$color-grey-primary: #f3f3f3;
$color-grey-secondary: #e4e4e4;
$color-grey-tertiary: #8b8b8b;
$color-grey-quaternary: #222222;

$color-primary-dark: #713fad;
