// COLORS

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

// FONT COLORS
$color-font-black: #101010;
$color-font-dark-grey: #353535;
$color-font-grey: #7e7e7e;
$color-font-green: #008766;
$color-font-white: #fff;

// BACKGROUND COLORS

$color-background-primary: #f6f6f6;
$color-background-secondary: #eaeaea;
$color-background-tertiary: #353535;
$color-background-white: #fff;
