.explanation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 4rem 2rem;

  &__heading {
    margin-bottom: 2.4rem;
    color: $color-font-black;
  }

  &__bar {
    display: flex;
    align-items: center;
    position: relative;
    padding: 1.6rem 1rem;
    width: 100%;
    border-radius: 15px;

    background-color: $color-background-primary;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
      0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &-number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.2rem;
      height: 2.2rem;
      font-size: 1.4rem;

      color: $color-font-white;
      background-color: $color-primary;
      border-radius: 50%;

      position: absolute;
      left: -1rem;
    }

    &-icon {
      margin-left: 1.5rem;
      font-size: 1.6rem;
      color: $color-font-grey;
    }

    &-text {
      margin-left: 1rem;
      font-size: 1.6rem;
      color: $color-font-black;
      font-weight: 500;
    }
  }
}
