.menu {
  background-color: $color-background-primary;

  &__img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &-container {
      width: 100%;
      padding-top: 70.6%;
      position: relative;
      overflow: hidden;
      z-index: 4;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 5;
    position: relative;
    top: -3rem;
    background-color: $color-background-primary;

    padding: 2rem 2rem 1rem 2rem;
    border-radius: 35px 35px 0 0;
  }

  &__heading {
    font-family: "Shrikhand", cursive;
    font-size: 2.6rem;
  }

  &__favorite {
    font-size: 2rem;
    height: 100%;
    margin-right: 2rem;
  }

  &__section-heading {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: $color-font-dark-grey;
    margin-bottom: 1.8rem;
    margin-left: 1rem;
    position: relative;
    display: inline-block;

    &::after {
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 4rem;
      height: 2px;
      content: "";
      background-color: $color-tertiary;
    }
  }
}
